/*TODO Clean up this CSS file.*/

/* Makes a new font from the font folder */

/* @font-face {
  font-family: Roboto;
  src: url('./fonts/Roboto-Regular.ttf')
} */

html, body {
  height: calc(100%);
  overflow: auto;
  margin: 0;
  padding: 0;
  border: 0;
}

nav {
  padding-right: 0.5rem !important;
  overflow: hidden;
}

/* width */

::-webkit-scrollbar {
  width: 10px;
  height: calc(100% 56px);
}

/* Track */

::-webkit-scrollbar-track {
  background: #5b6671;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #475058;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #24282d;
}

.center {
  margin: auto;
}

a.custom-card, a.custom-card:hover {
  color: inherit;
}

.log-in-container {
  max-width: 30%;
}

.sign-up-container {
  max-width: 30%;
}

.bg {
  width: 100vw;
  height: 40%;
  background: url("../static/Images/notes.jpg");
  background-size: cover;
}

.class-card {
  color: black;
  text-decoration: none !important;
}

.class-card:hover {
  color: black;
  text-decoration: none !important;
}

.back-btn {
  margin-left: 2%;
  margin-top: calc(56px + 2%);
}

.class-heading {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.class-guess-container {
  text-align: center;
}

.class-guess {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.card-deck {
  margin-bottom: 1rem;
}

.arrow-wrapper {
  /* margin-left: calc(50vw - 200px - (88px + 16px)); */
  margin-left: calc(50vw - (274.4px/2) - 16px - 80px - 16px);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.block {
  width: 200px;
  height: 2rem;
  background: #eee;
  margin: 0.2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: -webkit-box;
  display: flex;
  border-radius: 5px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

a h1 {
  padding-top: 5px;
  color: #001432;
  font-size: x-large;
  opacity: 0.4;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.arrow-wrapper:hover a h1 {
  opacity: 1;
}

/***************
 * Arrow 1
 ***************/

#arrow_1 .arrow {
  cursor: pointer;
  display: block;
  width: 21.216407355px;
  height: 2.1rem;
  position: relative;
}

#arrow_1 .arrow span, #arrow_1 .arrow:before, #arrow_1 .arrow:after {
  background: #fff;
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  position: absolute;
  top: calc(50% - (2px / 2));
}

#arrow_1 .arrow:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#arrow_1 .arrow:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#arrow_1 .arrow span {
  width: 0;
}

#arrow_1 .arrow:hover span {
  width: 42.42px;
}

#arrow_1 .arrow.arrow--left span, #arrow_1 .arrow.arrow--left:before, #arrow_1 .arrow.arrow--left:after {
  left: 0;
  -webkit-transform-origin: left 50%;
  transform-origin: left 50%;
}

#arrow_1 .arrow.arrow--left:before, #arrow_1 .arrow.arrow--left:after {
  -webkit-transition: left 0.3s 0.05s;
  transition: left 0.3s 0.05s;
}

#arrow_1 .arrow.arrow--left span {
  -webkit-transition: width 0.3s, left 0.3s 0.05s;
  transition: width 0.3s, left 0.3s 0.05s;
}

#arrow_1 .arrow.arrow--left:hover span, #arrow_1 .arrow.arrow--left:hover:before, #arrow_1 .arrow.arrow--left:hover:after {
  left: -21.216407355px;
}

#arrow_1 .arrow.arrow--right span, #arrow_1 .arrow.arrow--right:before, #arrow_1 .arrow.arrow--right:after {
  right: 0;
  -webkit-transform-origin: right 50%;
  transform-origin: right 50%;
}

#arrow_1 .arrow.arrow--right:before, #arrow_1 .arrow.arrow--right:after {
  -webkit-transition: right 0.3s 0.05s;
  transition: right 0.3s 0.05s;
}

#arrow_1 .arrow.arrow--right span {
  -webkit-transition: width 0.3s, right 0.3s 0.05s;
  transition: width 0.3s, right 0.3s 0.05s;
}

#arrow_1 .arrow.arrow--right:hover span, #arrow_1 .arrow.arrow--right:hover:before, #arrow_1 .arrow.arrow--right:hover:after {
  right: -21.216407355px;
}

/***************
 * Arrow 2
 ***************/

#arrow_2 .arrow {
  color: #fff;
  cursor: pointer;
  display: block;
  -webkit-box-align: start;
  align-items: flex-start;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#arrow_2 .arrow span {
  display: block;
  width: 3em;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0s;
  transition: opacity 0.3s 0s;
  padding: 0 0.5em;
}

#arrow_2 .arrow:hover span {
  opacity: 1;
  -webkit-transition: opacity 0.3s 0.1s;
  transition: opacity 0.3s 0.1s;
}

#arrow_2 .arrow:before {
  content: "";
  display: block;
  border: solid #fff;
  border-width: 2px 2px 0 0;
  position: absolute;
  top: 4px;
  width: 10px;
  height: 10px;
}

#arrow_2 .arrow.arrow--left:before {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  right: 0;
  -webkit-transition: right 0.3s 0.2s;
  transition: right 0.3s 0.2s;
}

#arrow_2 .arrow.arrow--left:hover:before {
  right: 100%;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
}

#arrow_2 .arrow.arrow--right {
  text-align: right;
}

#arrow_2 .arrow.arrow--right:before {
  left: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: left 0.3s 0.2s;
  transition: left 0.3s 0.2s;
}

#arrow_2 .arrow.arrow--right:hover:before {
  left: 100%;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
}

#arrow_2 .arrow:hover {
  -webkit-transform: none;
  transform: none;
}

@media only screen and (max-width: 1150px) {
  .log-in-container {
    max-width: 60%;
  }
  .sign-up-container {
    max-width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .log-in-container {
    max-width: 90%;
  }
  .sign-up-container {
    max-width: 90%;
  }
}

@media only screen and (max-width: 400px) {
  .log-in-container {
    max-width: 100%;
  }
  .sign-up-container {
    max-width: 100%;
  }
  .p-5 {
    padding: 1rem !important;
  }
}