{% extends "header.html" %} {% block content %}
<link
	rel="stylesheet"
	type="text/css"
	href="{{ url_for('static', filename='slides.css') }}"
/>
<div class="slide">
	<div class="title-area">
		<h1 class="slide-heading">Mål for progammet vs realitet</h1>
	</div>

	<div class="presentation-area">
		<div
			class="grid-parent-3"
			style="padding-left: 2rem; padding-right: 2rem; padding-top: 1rem;"
		>
			<div style="text-align: center;">
				<div class="inline spacing" style="text-align: left;">
					<h2 class="blue-title inline">01</h2>
					<h2 class="inline">Skrive og gemme noter</h2>
					<br />
					<ul class="dot-list">
						<li>
							Muligt at skrive notater og gemme på hjemmesiden.
						</li>
						<li>
							Muligt på alle enheder
						</li>
						<li style="margin-left: 2rem;">
							Optimeret til andre layouts
						</li>
					</ul>
				</div>
			</div>
			<div style="text-align: center;">
				<div class="inline spacing" style="text-align: left;">
					<h2 class="blue-title inline">02</h2>
					<h2 class="inline">Automatisk sortering</h2>
					<br />
					<ul class="dot-list">
						<li>
							Sorterer automatisk efter indholdet
						</li>
						<li>
							*Sorterer kun efter Mat, Dan, Byg pga. data.
						</li>
					</ul>
				</div>
			</div>
			<div style="text-align: center;">
				<div class="inline spacing" style="text-align: left;">
					<h2 class="blue-title inline">03</h2>
					<h2 class="inline">Nem adgang til hver note</h2>
					<br />
					<ul class="dot-list">
						<li>Placeret overskueligt i hver sit fag</li>
						<li>*Mangler søgefunktion</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
